* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

/* table {
  margin: 50px auto;
  width: 800px;
}
 */
