.myBar {
  background-color: #e6fcf5;
  color: #000;
}

.navbar-brand {
  color: #000;
  font-size: 36px;
}

.navbar a:hover,
.navbar a:active {
  color: #222;
}

.nav-link {
  color: #000;
  font-size: 18px;
}
