.form-control {
  width: 500px;
}

.row {
  margin: 50px auto;
  width: 1200px;
}

.btn-form {
  margin-left: 250px;
}

button {
  color: #cee9b6;
}

.input_contatto {
  background-color: #8ce99a;
  padding: 5px;
}

.input_contatto {
  margin: 20px auto;
  width: 1200px;
}

label {
  font-size: 18px;
}

.col {
  margin-bottom: 30px;
}
